/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      VARS
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*───────────────────────────────────────────────────────────*/
/*─                          fonts
/*───────────────────────────────────────────────────────────*/

$font: 'eesti';
$style: normal;

/*───────────────────────────────────────────────────────────*/
/*─                         variables
/*───────────────────────────────────────────────────────────*/

$color: #131313;
